<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baicells.camera.mapper.WorkMapper">
    <resultMap id="BaseResultMap" type="com.baicells.camera.Entity.Staff">
        <result column="staffId" jdbcType="VARCHAR" property="staffId" />
        <result column="create_time" jdbcType="VARCHAR" property="create_time" />
    </resultMap>

    <insert id="insertLog" parameterType="com.baicells.camera.Entity.Staff"
            keyProperty="staffId" useGeneratedKeys="true">
        INSERT INTO worklog
        (
            staffId
        )
        VALUES (
        #{staffId}
        )
    </insert>

</mapper>